[Unit]
Description=Campus Pulse Go Media Service
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/campus-pulse/go-media-service
ExecStart=/opt/campus-pulse/go-media-service/media-service
Restart=always
RestartSec=5
EnvironmentFile=/etc/zens/go-media-service.env

[Install]
WantedBy=multi-user.target
